# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
[Ww]eb/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db


server/arena.io.server/arena.io.server.opensdf
server/box2c/Box2C/x64/
server/box2c/x64/
server/box2c/Box2CS/bin/x64/Release/Box2CS.pdb
server/deploy/arena.io.server/bin/Cache/
.svn
*.pdb
server/arena.io.server/DarkRift Server - Free/Lib/DarkRift.xml
server/deploy/arena.io.login/bin/
server/arena.io.server/SharedCode/bin/
server/deploy/arena.io.lobby/bin/Cache/LobbyServer/assembly/dl3/56e2056d/0026aeee_2260d101/__AssemblyInfo__.ini
server/deploy/arena.io.lobby/bin/
server/arena.io.server/Debug
server/arena.io.server/DebugAttacher/Debug/
server/arena.io.server/DebugAttacher/Release/
Assets/lib/Protobuf/Debug/
*.lastcodeanalysissucceeded
server/lib/SharedCode.dll.CodeAnalysisLog.xml
server/lib/
server/deploy/arena.io.server/bin/SharedCode.dll
server/deploy/arena.io.server/bin/LibTessDotNet.dll
