<?xml version="1.0" encoding="Windows-1252"?>
<!--
	(c) 2010 by Exit Games GmbH, http://www.exitgames.com
	Photon server configuration file.
	For details see the photon-config.pdf.
-->

<Configuration>
	<!-- Multiple instances are supported. Each instance has its own node in the config file. -->
	<!-- PhotonControl will currently only start "Default" but the .cmd files could be modified to start other instances. -->
  
  <Login
		MaxMessageSize="1000"
		MaxQueuedDataPerPeer="36000"
		PerPeerMaxReliableDataInTransit="51200"
		PerPeerTransmitRateLimitKBSec="256"
		PerPeerTransmitRatePeriodMilliseconds="200"
    AckSendingDelayMilliseconds = "5"
    DataSendingDelayMilliseconds = "5"
		MinimumTimeout="15000"
		MaximumTimeout="30000"
    MaxThreads="16">
    
    <TCPListeners>
      <TCPListener
				IPAddress="0.0.0.0"
				Port="4560"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="40000"
				>
      </TCPListener>
    </TCPListeners>
    
    <Runtime
       Assembly="PhotonHostRuntime"
       Type="PhotonHostRuntime.PhotonDomainManager"
       UnhandledExceptionPolicy="Ignore">
    </Runtime>
    
    <Applications Default="LoginServer">
      <Application
				Name="LoginServer"
				BaseDirectory="arena.io.login"
				Assembly="LoginServer"
				Type="LoginServer.Application"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
      </Application>
    </Applications>
  </Login>
  
  <Lobby
		MaxMessageSize="1000"
		MaxQueuedDataPerPeer="36000"
		PerPeerMaxReliableDataInTransit="51200"
		PerPeerTransmitRateLimitKBSec="256"
		PerPeerTransmitRatePeriodMilliseconds="200"
    AckSendingDelayMilliseconds = "5"
    DataSendingDelayMilliseconds = "5"
		MinimumTimeout="15000"
		MaximumTimeout="30000"
    MaxThreads="16">
    
    <TCPListeners>
      <TCPListener
				IPAddress="0.0.0.0"
				Port="4561"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="40000"
				>
      </TCPListener>
    </TCPListeners>
    
    <Runtime
       Assembly="PhotonHostRuntime"
       Type="PhotonHostRuntime.PhotonDomainManager"
       UnhandledExceptionPolicy="Ignore">
    </Runtime>
    
    <Applications Default="LobbyServer">
      <Application
				Name="LobbyServer"
				BaseDirectory="arena.io.lobby"
				Assembly="LobbyServer"
				Type="LobbyServer.Application"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
      </Application>
    </Applications>
  </Lobby>

  <Game
		MaxMessageSize="1000"
		MaxQueuedDataPerPeer="36000"
		PerPeerMaxReliableDataInTransit="51200"
		PerPeerTransmitRateLimitKBSec="256"
		PerPeerTransmitRatePeriodMilliseconds="200"
    AckSendingDelayMilliseconds = "5"
    DataSendingDelayMilliseconds = "5"
		MinimumTimeout="15000"
		MaximumTimeout="30000"
    MaxThreads="16">

    <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
    <!-- Port 5055 is Photon's default for UDP connections. -->
    <UDPListeners>
      <UDPListener
				IPAddress="0.0.0.0"
				Port="5055">
      </UDPListener>
    </UDPListeners>

    <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
    <!-- Port 4530 is Photon's default for TCP connecttions. -->
    <!-- A Policy application is defined in case that policy requests are sent to this listener (known bug of some some flash clients) -->
    <TCPListeners>
      <TCPListener
				IPAddress="0.0.0.0"
				Port="4530"
				PolicyFile="Policy\assets\socket-policy.xml"
				InactivityTimeout="40000"
				>
      </TCPListener>
    </TCPListeners>

    <!-- Policy request listener for Unity and Flash (port 843) and Silverlight (port 943)  -->
    <PolicyFileListeners>
      <!-- multiple Listeners allowed for different ports -->
      <PolicyFileListener
			IPAddress="0.0.0.0"
			Port="843"
			PolicyFile="Policy\assets\socket-policy.xml"
			InactivityTimeout="10000">
      </PolicyFileListener>
      <PolicyFileListener
			IPAddress="0.0.0.0"
			Port="943"
			PolicyFile="Policy\assets\socket-policy-silverlight.xml"
			InactivityTimeout="10000">
      </PolicyFileListener>
    </PolicyFileListeners>

    <!-- Defines the Photon Runtime Assembly to use. -->
    <Runtime
       Assembly="PhotonHostRuntime"
       Type="PhotonHostRuntime.PhotonDomainManager"
       UnhandledExceptionPolicy="Ignore">
    </Runtime>


    <!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
    <!-- Application-folders must be located in the same folder as the bin_win32 folders. The BaseDirectory must include a "bin" folder. -->
    <Applications Default="arena">
      <Application
				Name="arena"
				BaseDirectory="arena.io.server"
				Assembly="arena"
				Type="arena.Application"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
      </Application>
      
      <Application
				Name="LoginServer"
				BaseDirectory="arena.io.login"
				Assembly="LoginServer"
				Type="LoginServer.Application"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
      </Application>
      
      <Application
				Name="LobbyServer"
				BaseDirectory="arena.io.lobby"
				Assembly="LobbyServer"
				Type="LobbyServer.Application"
				ForceAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
      </Application>
    </Applications>
  </Game>
</Configuration>
